@model MovaClubWebApp.Models.Shared.PasswordFieldModel

@{
    var switcherOpened = (Model.ContentOpened) ? "" : "settings-form--hidden";
}



<ul class="mdc-list">
    <li role="separator" class="mdc-list-divider"></li>
    <li class="mdc-list-item settings-switcher" id="password-switcher">
        <span class="mdc-list-item__text unselectable">Password</span>
        <span class="mdc-list-item__content unselectable">@Model.VisiblePassword</span>
        <span class="mdc-list-item__meta material-icons settings-arrow unselectable">keyboard_arrow_right</span>
    </li>
    <li class="settings-form settings-warning-text settings-list-item" id="password">
        <div class="settings-confirm-text mdc-typography settings-form-item">@Model.ConfirmText</div>
        <div asp-validation-summary="ModelOnly" class="settings-form-item mdc-typography"></div>
        <form action="ChangePassword" class="settings-form @switcherOpened" data-ajax-method="POST" data-ajax="true"
              data-ajax-mode="replace" data-ajax-update="#password-field">
            @Html.AntiForgeryToken()
            <input type="hidden" name="UserName" value="@Model.UserName"/>
            <div class="settings-form-item">
                <div class="mdc-text-field settings-form-item">
                    <input type="password" id="old-password-text-field" class="mdc-text-field__input" name="oldPassword" aria-controls="old-passsword-helper-text"
                           aria-describedby="old-password-helper-text" asp-for="OldPassword">
                    <label class="mdc-floating-label" for="my-text-field">Old password</label>
                    <div class="mdc-line-ripple"></div>
                </div>
                <div class="mdc-text-field-helper-line">
                    <div id="old-passsword-helper-text" class="mdc-text-field-helper-text mdc-text-field-helper-text--validation-msg" aria-hidden="true">
                        <span asp-validation-for="OldPassword"></span>
                    </div>
                </div>
            </div>

            <div class="settings-form-item">
                <div class="mdc-text-field settings-form-item">
                    <input type="password" id="new-password-text-field" class="mdc-text-field__input" aria-controls="new-passsword-helper-text"
                           aria-describedby="new-password-helper-text" asp-for="NewPassword">
                    <label class="mdc-floating-label" for="my-text-field">New password</label>
                    <div class="mdc-line-ripple"></div>
                </div>
                <div class="mdc-text-field-helper-line">
                    <div id="new-passsword-helper-text" class="mdc-text-field-helper-text mdc-text-field-helper-text--validation-msg" aria-hidden="true">
                        <span asp-validation-for="NewPassword"></span>
                    </div>
                </div>
            </div>

            <div class="settings-form-item">
                <div class="mdc-text-field settings-form-field">
                    <input type="password" id="my-text-field" class="mdc-text-field__input" aria-controls="confirm-passsword-helper-text"
                           aria-describedby="confirm-passsword-helper-text" asp-for="ConfirmPassword">
                    <label class="mdc-floating-label" for="my-text-field">Confirm new password</label>
                    <div class="mdc-line-ripple"></div>
                </div>
                <div class="mdc-text-field-helper-line">
                    <div id="confirm-passsword-helper-text" class="mdc-text-field-helper-text mdc-text-field-helper-text--validation-msg" aria-hidden="true">
                        <span asp-validation-for="ConfirmPassword"></span>
                    </div>
                </div>
            </div>
            <div class="settings__submit settings-form-item">
                <button class="mdc-button mdc-button--unelevated" type="submit">
                    <span class="mdc-button__label">Submit</span>
                </button>
            </div>
        </form>
    </li>
</ul>


<script>AccountSettings.run("password-switcher", @Model.ContentOpened.ToString().ToLower());</script>